/*Variables*/
/* font-family: 'Signika', sans-serif; */
/*Fix*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*Global*/
.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: #fff;
  margin: 0;
  color: #87949e;
}

section {
  border: 1px solid violet;
}

img {
  border: 1px solid yellow;
}

.container {
  max-width: 1500px;
  padding: 0;
  margin: 0 auto;
  border: 3px solid red;
  text-align: center;
  position: relative;
}

.bold {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #87949e;
}

h1 {
  font-weight: 100;
  font-size: 60px;
  line-height: 1;
}

h2 {
  font-weight: 200;
  font-size: 60px;
  line-height: 1;
  color: #576671;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

.btn {
  border: 2px solid #17daa3;
  width: 180px;
  height: 50px;
  border-radius: 90px;
  font-weight: 700;
  color: #fff;
}

.btn-light {
  background: none;
}

.btn-color {
  background: #17daa3;
}

.title-block {
  border: 1px solid olive;
  position: relative;
  height: 410px;
}

.title-block h2 {
  margin-top: 110px;
}

.title-block::after {
  position: absolute;
  content: '';
  content: "";
  top: 48%;
  left: 50%;
  width: 30px;
  height: 1px;
  transform: translateX(-50%);
  background: #17daa3;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
}

/*Splash*/
.splash {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://i.postimg.cc/3xtyhsPT/Photo-copy.png");
}

.navigation-top {
  margin-top: 50px;
  border: 2px solid white;
}

.navigation-top img {
  position: absolute;
  left: 0;
}

nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  border: 1px solid orange;
}

/*About*/
.about .fas {
  font-size: 60px;
  background: #edeff1;
  border-radius: 50%;
  line-height: 180px;
  width: 180px;
  color: #87949e;
}

.about h4 {
  font-size: 30px;
  margin: 80px 10px 0px;
  color: #000;
}

.about p {
  margin: 50px 10px 0px;
}

.about .btn {
  margin: 100px 0;
}

/*Work*/
section .work,
section .location {
  padding: 100px 0;
}

.work-image {
  width: 50%;
  border: 1px solid red;
  position: absolute;
  left: 50%;
  max-height: 750px;
}

.work-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.work-text,
.location-text {
  width: 50%;
  border: 1px solid pink;
  text-align: left;
}

.work-text h2,
.location-text h2 {
  margin: 160px 0 0 0;
}

.work-text p,
.location-text p {
  margin: 80px 0;
}

.work .btn {
  margin: 0 0 160px 0;
}

.location .btn {
  margin: 0 0 185px 0;
}

/*Quotes*/
.quotes {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/image-quotes.jpg");
}

.quotes .container {
  height: 700px;
  position: relative;
}

.quotes-inner {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.quotes-inner p {
  font-weight: 200;
  font-size: 18px;
}

.quotes-inner h4 {
  font-size: 30px;
}

.quotes-inner h4 span {
  color: #17daa3;
}

.quotes-inner p span {
  font-weight: 500;
}

.quotes img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.services {
  background: #f9f9fa;
}

.gallery::before,
.gallery::after {
  clear: both;
  content: "";
  display: table;
}

.team-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.team-image {
  position: relative;
  height: 400px;
  width: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
}

.pricing {
  background: #f9f9fa;
}

/*Work*/
.location-image {
  height: 760px;
  width: 100%;
  left: 50%;
  background-position: left center;
  background-size: cover;
  background-image: url("https://i.postimg.cc/3xtyhsPT/Photo-copy.png");
}

/*Final*/
.final {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/image-final.jpg");
}

.final .container {
  height: 750px;
  position: relative;
}

.final-inner {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.final-inner p {
  font-weight: 200;
  font-size: 18px;
}

.final-inner h4 {
  font-size: 30px;
}

.final-inner h4 span {
  color: #17daa3;
}

.final-inner p span {
  font-weight: 500;
}

/*Footer*/
footer {
  height: 750px;
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../images/image-a-big.png");
}

.nav-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.nav-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.nav-left img {
  padding-right: 20px;
}

.nav-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 620px;
}

.nav-right ul li {
  text-align: right;
  padding-left: 70px;
  padding-top: 5px;
  position: relative;
}

.nav-right ul li:hover {
  font-weight: 700;
  padding-left: 69px;
}

.nav-right ul li:hover ul {
  display: -ms-flexbox;
  display: flex;
}

.nav-right ul li ul {
  position: absolute;
  -ms-flex-direction: column;
      flex-direction: column;
  display: none;
  width: 200px;
}

.nav-right ul li ul li {
  padding-left: 0px;
  text-align: left;
  font-weight: 400;
}

.nav-right ul li ul li:hover {
  font-weight: 700;
  padding-left: 0px;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */