/*Variables*/

$font-thin: 100;
$font-xlight: 200;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$color-white: #fff;
$color-black: #000;

$color-background-gray: #f9f9fa;

$color-gray: #edeff1;
$color-accent01: #17daa3;
$color-headline: #576671;

$color-text: #87949e;

/* font-family: 'Signika', sans-serif; */
/*Fix*/

*, *::before, *::after {
        box-sizing: border-box;
}

/*Global*/

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight:$font-regular;
  font-size: 18px;
  background:$color-white;
  margin:0;
  color: $color-text;
}

section {
  border:1px solid violet;
}

img {

}

.container {
    max-width: 1500px;
    padding: 0;
    margin: 0 auto;
    text-align:center;
    position:relative;
}

.bold {
  font-weight: $font-bold;
}

a {
  text-decoration: none;
  color: $color-text;
}

h1 {
  font-weight: $font-thin;
  font-size: 60px;
  line-height:1;

}

h2 {

  font-weight: $font-xlight;
  font-size: 60px;
  line-height:1;
  color: $color-headline;
}


h3 {
  font-weight: $font-regular;
  font-size: 18px;
  line-height:1;
}

.btn {
  border:2px solid $color-accent01;
  width:180px;
  height: 50px;
  border-radius: 90px;
  font-weight: $font-bold;
  color: $color-white;
}

.btn-light {
  background:none;
}

.btn-color {
  background: $color-accent01;
}


.title-block {
 border:1px solid olive;
 position: relative;
 height:410px;
 h2{
   margin-top:110px;
 }
}

.title-block::after {
    position: absolute;
    content: '';
    content: "";
    top: 48%;
    left: 50%;
    width: 30px;
    height: 1px;
    transform: translateX(-50%);
    background: $color-accent01;
}

.wrapper {

  display:flex;
}

/*Splash*/

.splash {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://i.postimg.cc/3xtyhsPT/Photo-copy.png");
}

.navigation-top {
  margin-top:50px;
  border: 2px solid white;
}


.navigation-top img{
 position: absolute;
 left: 0;
}
nav {
  display:flex;
  justify-content:flex-end;

}
.logo {
}



.splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    color:$color-white;
  border: 1px solid orange;
}


/*About*/

.about .fas {
  font-size: 60px;
  background: $color-gray;
  border-radius: 50%;
  line-height: 180px;
  width: 180px;
  color: $color-text;
}

.about h4 {
  font-size: 30px;
  margin: 80px 10px 0px;
  color: $color-black;
}

.about p {

  margin: 50px 10px 0px;
}

.about .btn {

  margin: 100px 0;
}



/*Work*/

section .work,
section .location{
    padding: 100px 0;}

.work-image{
  width:50%;
  border:1px solid red;
  position: absolute;
  left:50%;
  max-height: 750px;

}


.work-image img {
  object-fit: cover;
      height: 100%;
      width: 100%;
}

.work-text,
.location-text {
  width:50%;
  text-align: left;
  h2 {
    margin: 160px 0 0 0;
  }
  p {
    margin: 80px 0;
  }

}

.work .btn {
  margin: 0 0 160px 0;
}

.location .btn {
  margin: 0 0 185px 0;
}

/*Quotes*/

.quotes {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/image-quotes.jpg");
}

.quotes .container{
height:700px;
position: relative;
}

.quotes-inner {
  position:absolute;
  width: 100%;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:$color-white;
  p {
    font-weight: $font-xlight;
    font-size: 18px;
  }
  h4 {  font-size: 30px;}
  h4 span {
          color:$color-accent01;
  }
  p span {
          font-weight: $font-medium;
  }
}

.quotes img {
  width:100px;
  height:100px;
  border-radius: 50%;
}



.services {
  background: $color-background-gray;
}

/*Team*/
.team .gallery {}

.gallery::before,
.gallery::after {
    clear: both;
    content: "";
    display: table;
}
.team-image img{
  object-fit: cover;
      width: 100%;
      height: 100%;
}

.team-image {
  position: relative;
   height:400px;
   width: 20%;
   object-fit: cover;
   float:left;
}

.team-image:hover::after {
  left:0;
  top:0;
  height:100%;
  width:100%;
  background: $color-accent01;
  position: absolute;
  content: "";
}

.team-image:hover p {
display: inline;

}


.team-name p {
  z-index: 100;
  position: absolute;
  left: 50%;
  top:150px;
  transform: translate(-50%, 0);
  font-size: 36px;
  font-weight: $font-xlight;
  display: none;
  color: $color-white;
  text-align: center;
}


.pricing {
  background: $color-background-gray;
}



/*Work*/

.location{
  height: 760px;
  background-position: 50vw center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/image-map.png");

}


/*Final*/

.final {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/image-final.jpg");
}

.final .container{
height:750px;
position: relative;
}

.final-inner {
  position:absolute;
  width: 100%;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:$color-white;
  p {
    font-weight: $font-xlight;
    font-size: 18px;
  }
  h4 {  font-size: 30px;}
  h4 span {
          color:$color-accent01;
  }
  p span {
          font-weight: $font-medium;
  }
}


/*Footer*/

footer {
  height: 750px;
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../images/image-a-big.png");
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left  {
  display: flex;
  align-items: center;
  img {
    padding-right: 20px;
  }
}

.nav-right {
  ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 620px;
    li {
      text-align: right;
      padding-left:70px;
      padding-top: 5px;
      position: relative;
      &:hover {
        font-weight: 700;
        padding-left:69px;
        ul{
          display: flex;
        }
      }
      ul {
        position: absolute;
        flex-direction: column;
        display:none;
        width: 200px;
        li {
          padding-left:0px;
          text-align: left;
          font-weight: 400;
          &:hover {
            font-weight: 700;
            padding-left:0px;
            text-align: left;
          }
        }
      }
    }
  }
}
