/*Variables*/

$font-thin: 100;
$font-xlight: 200;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$color-white: #fff;
$color-black: #000;

$color-background-gray: #f9f9fa;

$color-gray: #edeff1;
$color-accent01: #17daa3;
$color-headline: #576671;
$color-text: #87949e;

$transition: all 0.3s;


/*Fix*/

*, *::before, *::after {
        box-sizing: border-box;
}

/*Global*/

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight:$font-regular;
  font-size: 18px;
  background:$color-white;
  margin:0;
  color: $color-text;
}

.container {
    max-width: 1550px;
    padding: 30px;
    margin: 0 auto;
    text-align:center;
    position:relative;
}

.wrapper {
  display:flex;
}

/*Global - text*/

.bold {
  font-weight: $font-bold;
}

a {
  text-decoration: none;
  color: $color-text;
}

/*Global - headlines*/

h1 {
  font-weight: $font-thin;
  font-size: 60px;
  line-height:1;

}

h2 {
  margin-top: 0;
  padding-top:115px;
}

h2,
h4 {
  font-weight: $font-xlight;
  font-size: 60px;
  line-height:1;
  color: $color-headline;
}

h3 {
  font-weight: $font-regular;
  font-size: 18px;
  line-height:1;
}

h4{
  margin: 10px 0 50px 0;
}

/*Global - buttons*/

.btn {
  border:2px solid $color-accent01;
  width:180px;
  height: 50px;
  border-radius: 90px;
  font-weight: $font-bold;
  color: $color-white;

}

.btn-light {
  background:none;
  border-color: $color-white;
  transition: $transition;
  &:hover {
    border-color: $color-accent01;
    color: $color-accent01;
    transition: $transition;
  }
}

.btn-color {
  background: $color-accent01;
  transition: $transition;
  &:hover {
    box-shadow: 0px 0px 25px 1px $color-accent01;
    transition: $transition;
  }
}


/*Global - section titleblocks*/

.title-block {
  position: relative;
  height:410px;
  h2{
  }
}

.title-block::after {
  position: absolute;
  content: "";
  top: 48%;
  left: 50%;
  width: 30px;
  height: 1px;
  transform: translateX(-50%);
  background: $color-accent01;
}

/*Global - navigation*/

.nav-left {
  display: flex;
  align-items: center;
  img {
    padding-right: 20px;
  }
}

.nav-right {
  ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    li {
      text-align: right;
      padding-left:70px;
      padding-top: 5px;
      position: relative;
      &:hover ul {
          display: flex;
        }
      }
    ul {
      position: absolute;
      flex-direction: column;
      display:none;
      li {
        padding-left:0px;
        text-align: left;
        font-weight: 400;
        &:hover {
          font-weight: 700;
          padding-left:0px;
          text-align: left;
        }
      }
    }
  }
}


/*Splash*/


.nav-splash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.nav-splash .nav-right ul li a {
  color: $color-white;
  font-weight: $font-bold;
  transition: $transition;
  &:hover {
    transition: $transition;
    color: $color-accent01;
    text-decoration: underline;
  }
}


.splash {
  height: 100vh;
  min-height: 800px;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://i.postimg.cc/3xtyhsPT/Photo-copy.png");
}

.splash-inner {
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align:center;
  color:$color-white;
}


/*About*/

.about .fas {
  font-size: 60px;
  background: $color-gray;
  border-radius: 50%;
  line-height: 180px;
  width: 180px;
  color: $color-text;
  transition: $transition;
  &:hover {
    background: $color-accent01;
    color:$color-white;
    transition: $transition;
  }
}

.about h4 {
  font-size: 30px;
  margin: 80px 10px 0px;
  color: $color-black;
}

.about p {

  margin: 50px 10px 0px;
}

.about .btn {

  margin: 100px 0;
}



/*Work*/

.work .container {
  height: 750px;
}

.work .container:first-of-type{
  background: $color-background-gray;
  max-width: 100%;
}

.work .wrapper:first-of-type{
  max-width: 1500px;
  padding: 0;
  margin: 0 auto;
}

.work .wrapper {
  align-items: center;
  height: 100%;
}

.work-image{
  width: 50%;
  img {
    height: 400px;
  }
  &:last-of-type img {
    width:100%;
    height:auto;
  }
}


.work-text {
  width:50%;
  text-align: left;
  h2 {
    margin: 160px 0 0 0;
  }
  p {
    margin: 80px 0;
  }
}

.work .btn {
  margin: 0 0 160px 0;
}



/*Quotes*/

.quotes {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/image-quotes.jpg");
}

.quotes .container {
  height:700px;
  position: relative;
}

.quotes-inner {
  position:absolute;
  width: 100%;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:$color-white;
  p {
    font-weight: $font-xlight;
    font-size: 18px;
  }
  h4 {  font-size: 30px;}
  h4 span {
          color:$color-accent01;
  }
  p span {
          font-weight: $font-medium;
  }
}

.quotes img {
  width:100px;
  height:100px;
  border-radius: 50%;
}

/*Services*/

.services {
  background: $color-background-gray;
}

.services .wrapper {
 flex-wrap: wrap;

}

.services .card {
  display: flex;
  flex: 1 1 50%;
  align-items: flex-start;
}

.card-text{
    text-align: left;
    line-height: 50px;
}

.card-icon {
  flex: 1 1 30%;
  width:30%;
  i {
    background: $color-white;
    border-radius: 50%;
    line-height: 70px;
    width: 70px;
    font-size: 30px;
    color: $color-accent01;
    transition: $transition;
    &:hover {
      background: $color-accent01;
      color:$color-white;
      transition: $transition;
    }
  }
}



/*Team*/
.gallery::before,
.gallery::after {
    clear: both;
    content: "";
    display: table;
}

.team-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.team-image {
  position: relative;
  height:400px;
  width: 20%;
  object-fit: cover;
  float:left;
}

.team-image:hover::after {
  left:0;
  top:0;
  height:100%;
  width:100%;
  opacity: 0.9;
  background: $color-accent01;
  position: absolute;
  content: "";
}

.team-image:hover p {
  display: inline;
}

.team-name p {
  z-index: 100;
  position: absolute;
  left: 50%;
  top:150px;
  transform: translate(-50%, 0);
  font-size: 36px;
  font-weight: $font-xlight;
  display: none;
  color: $color-white;
  text-align: center;
}

/*Pricing*/

.pricing {
  background: $color-background-gray;
  .wrapper {
    justify-content: space-between;
  }
}

.price-card {
text-align: left;
background: $color-white;
height:580px;
width:23%;
border-radius: 5px;
position: relative;
.price-value {
  padding-left: 30px;
  height:215px;
  margin:0;
  border-bottom: 3px solid $color-background-gray;
  h2 {
    padding-top:60px;
    margin:0;
    color: $color-accent01;
  }
  p {
    opacity:0.4;
  }
}


.price-text {
  padding-left: 30px;
  height:295px;
  p {
    margin: 0;
    padding: 50px 0;
    line-height: 48px;
    width:240px;
  }
}
  button {
    width:100%;
    height: 70px;
    background: $color-accent01;
    color: $color-white;
    font-weight: $font-bold;
    letter-spacing: 3px;
    border-color:none;
    margin-bottom:0;
    border-style: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 30px;
    font-size: 18px;
    transition: $transition;
    &:hover{
      font-size: 25px;
      transition: $transition;
    }
  }
}


/*Location*/

.location {
  height: 760px;
  background-position: 50vw center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/image-map.png");
}

.location-text {
  width:50%;
  text-align: left;
  h2 {
    margin: 160px 0 0 0;
  }
  p {
    margin: 80px 0;
  }
}

.location .btn {
  margin: 0 0 185px 0;
}


/*Final*/

.final {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/image-final.jpg");
}

.final .container {
  height:750px;
  position: relative;
}

.final-inner {
  position:absolute;
  width: 100%;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:$color-white;
  p {
    font-weight: $font-xlight;
    font-size: 18px;
  }
  h4 {
    font-size: 30px;
  }
  h4 span {
    color:$color-accent01;
  }
  p span {
    font-weight: $font-medium;
  }
}


/*Footer*/

footer {
  height: 650px;
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../images/image-a-big.png");
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-footer .nav-right ul li{
  transition: $transition;
  &:hover a {
    font-weight: $font-bold;
    transition: $transition;
    ul li a {
      font-weight: $font-regular;
    }
  }
  ul li a {
    font-weight: $font-regular;
    &:hover {
    transition: $transition;
    font-weight: $font-bold;
    text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 992px) {

  .container {
      padding: 0 50px;
  }

  h2 {
    padding-top:60px;
  }

  .title-block::after {
    top: 42%;
  }

  .title-block {
    height: 300px;
  }

  .location .btn,
  .about .btn {
    margin: 50px 0 50px 0;
  }

    .work .btn {
      margin: 10px 0 10px 0;
    }

    .work h2 {
      padding-top:10px;
      margin-top:10px;
    }

  .nav-splash {
    display: flex;
    flex-direction: column;
  }

  .nav-right {
    ul {
      list-style:none;
      li {
        text-align: right;
        padding-left:20px;
        padding-top: 15px;
        position: relative;
        &:hover ul {
            display: flex;
        }
      }
    }
  }

  .about .fas {
    font-size: 40px;
    border-radius: 50%;
    line-height: 100px;
    width: 100px;
  }

  .about h4 {
    margin: 30px 10px 0px;
  }

  .services .card {
    display: flex;
    flex: 1 1 50%;
    align-items: flex-start;
  }

  .splash-inner {
    width: 80%;
  }

  .services .card {
    display: flex;
    flex: 1 1 100%;
    align-items: flex-start;
  }

  .work .container {
    height: 550px;
  }

  .work-image{
    width: 50%;
    img {
      height: 250px;
    }
  }

  .work-text p {
    margin: 40px 0;
    z-index: 20;
  }

  .card-icon {
    flex: 1 1 40%;
    width:40%;
  }

  .team-image {
    position: relative;
    height:200px;
    width: 20%;
    object-fit: cover;
    float:left;
  }

  .team-name p {
    top:50px;
    font-size: 26px;
  }

  .pricing .wrapper {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .price-card {
    height:275px;
    margin-top: 15px;
    width:49%;
    .price-value {
      padding-left: 20px;
      height:115px;
      margin:0;
      border-bottom: 3px solid $color-background-gray;
      h2 {
        padding-top:20px;
        font-size: 30px;
        font-weight: $font-bold;
      }
      p {
        opacity:0.4;
      }
    }

    .price-text {
      padding-left: 20px;
      height:110px;
      p {
        padding: 10px 0;
        line-height: 20px;
        width:240px;
      }
    }
      button {
        height: 50px;
        text-align: center;
        &:hover{
          font-size: inherit;
          text-decoration: underline;
      }
      }
    }

  .location {
    height: auto;
    background-position: 50vw center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/image-map.png");
    p{
      margin: 30px 0;
    }
  }

  .location-text h2 {
      margin-top: 50px;
    }

  .nav-footer {
    flex-direction: column;
  }

  footer {
    height: 280px;
    background-image:none;
  }

}


@media only screen and (max-width: 576px) {


  body {
    font-size: 14px;
  }

  .container {
      padding: 0 20px;
  }

  h1 {
    font-weight: $font-thin;
    font-size: 40px;
    line-height:1;
  }

  h2 {
    padding-top:30px;
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .about .fas {
    font-size: 30px;
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
  }

  .title-block {
    height: 200px;
  }

  .title-block::after {
    top: 38%;
  }

  .about p {
    margin: 20px 10px 0px;
  }

  .about .wrapper {
    flex-direction: column;
  }

  .about .card {
    margin-bottom: 40px;
  }

  .price-value {
    height:100px;
  }

  .pricing .price-text {
    padding-left: 20px;
    height:120px;
    p {
      margin: 0;
      font-size: 10px;
      width: 100%;
    }
  }

  .pricing .price-card{
    height: 270px;
    margin-bottom: 15px;
        button {
        height: 35px;
        padding: 0 10px;
        text-align: center;
        margin-bottom:auto;
        display: inline;
        font-size: 12px;
        span{
          display: none;
        }

    }
  }

  .nav-right {
    ul {
      list-style:none;
      li {
        text-align: center;
        padding-left:10px;
        padding-top: 15px;
        position: relative;
        &:hover ul {
            display: flex;
        }
      }
    }
  }

.card-icon {
  display: none;
}

.services h4 {
font-weight: $font-bold;
text-align: center;
}

.services p {
  line-height: 16px;
}

.about h4 {
  font-size: 20px;
}

.work .container{
  height: auto;
}

.work-image{
  width: 50%;
  img {
    display: none;
  }
}

  .work .btn {
        margin: 50px 0 50px 0
  }


  .work .wrapper {

  flex-direction: column;
  }

.work-text {
  width: 100%;
  text-align: center;
  h2 {
    font-weight: $font-bold;
  }
  p{
    text-align: justify;
    margin-bottom: 0;
  }
}

.location-text {
  width:100%;
  text-align: justify;
}



}
